/*font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

h1 {
  color: red;
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
}
